# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.output.txt

# Build output
dist/
*.tsbuildinfo

# Pulumi
.pulumi/

# IDEs
.idea/
.vscode/

# Project specific
instances/

# OS specific
.DS_Store
